@font-face {
  /*定义字体名称*/
  font-family: "Geo";
  font-style: normal;
  /*引入第三方字体文件 约束*/
  /*需要引入4种格式的 目的是兼容主流浏览器 每一个文件引入独有固定的格式 */
  src: url(../fonts/sell-icon.eot),url(../fonts/sell-icon.svg),url(../fonts/sell-icon.ttf),url(../fonts/sell-icon.woff)
}

.icon{
  font-family: "Geo";
}

.icon-arrow_lift:before
  content: "\e900"

.icon-thumb_up:before
  content: "\e901"

.icon-thumb_down:before
  content: "\e902"

.icon-shopping_cart:before
  content: "\e903"

.icon-favorite:before
  content: "\e904"

.icon-check_circle:before
  content: "\e905"

.icon-close:before
  content: "\e906"

.icon-remove_circle_outline:before
  content: "\e907"

.icon-add_circle:before
  content: "\e908"

.icon-keyboard_arrow_right:before
  content: "\e909"
